# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration file
local.properties

# IDE
.idea/
.classpath
.project
.settings/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Android Specific
*.apk
*.aar
*.ap_
*.dex
*.class
*.jar
*.so
*.jks
*.keystore

# Test results
/coverage

# Log Files
*.log
